
.tabs
  box-sizing border-box
  display block
  &:after
  &:before
    content ' '
    display table
  &:after
    clear both
  >.tab-panel
    display none
    &.active
      display block

.tab-heading
  box-sizing border-box;
  padding 2px 5px
  margin 0
  cursor pointer
  if heading-background
    background-color heading-background
  if heading-color
    color heading-color
  unless heading-color is defined
    color #000
  if tab-border
    border tab-border
  z-index 2
  &.active
    if heading-active-background
      background-color heading-active-background

.tab-panel
  box-sizing border-box
  padding 5px 10px
  if tab-background
    background-color tab-background
  if tab-color
    color tab-color
  unless tab-color is defined
    color #000
  if tab-border
    border tab-border
  z-index 1