/**
 * Vertical tab layout
 */

.left-tabs
.right-tabs
  nav
    width 20%
  .tab-heading
    border-right 0
    display block
  .tab-panel
    width 80%

.left-tabs
  nav
    float left
  .tab-heading
    margin 0 -1px -1px 0
  .tab-panel
    float right

.right-tabs
  nav
    float right
  .tab-heading
    border-left 0
    margin 0 0 -1px -1px
  .tab-panel
    float left