/* fast-tabs styles */.tabs{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;}
.tabs:after,.tabs:before{content:' ';display:table}
.tabs:after{clear:both}
.tabs >.tab-panel{display:none;}
.tabs >.tab-panel.active{display:block}
.tab-heading{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:2px 5px;margin:0;cursor:pointer;background-color:#999;color:#fff;border:1px solid #333;z-index:2;}
.tab-heading.active{background-color:#333}
.tab-panel{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 10px;background-color:#fff;color:#000;border:1px solid #333;z-index:1}
.top-tabs .tab-heading{border-bottom:0;display:inline-block;margin:0 -1px 0 0}
.left-tabs nav,.right-tabs nav{width:20%}
.left-tabs .tab-heading,.right-tabs .tab-heading{border-right:0;display:block}
.left-tabs .tab-panel,.right-tabs .tab-panel{width:80%}
.left-tabs nav{float:left}
.left-tabs .tab-heading{margin:0 -1px -1px 0}
.left-tabs .tab-panel{float:right}
.right-tabs nav{float:right}
.right-tabs .tab-heading{border-left:0;margin:0 0 -1px -1px}
.right-tabs .tab-panel{float:left}
